@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }

.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }

.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }

.btn-primary.active { color: rgba(255, 255, 255, 0.75); }

.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }

.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body {
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(
    130deg,
    hsl(55deg 100% 50%) 0%,
    hsl(29deg 100% 50%) 33%,
    hsl(35deg 100% 46%) 67%,
    hsl(124deg 100% 50%) 100%
  );
}

#add_product_button {
	box-shadow: 0px 0px 5px 0px #010500;
	background-color:#44c767;
	border-radius:15px;
	border:1px solid #30ba3e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 10px;
  right: 5%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#add_user_button {
	box-shadow: 0px 0px 5px 0px #010500;
	background-color:#44c767;
	border-radius:15px;
	border:1px solid #30ba3e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 10px;
  right: 5%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}


.dashboard {
  position: relative;
  align: center;
  width:90%;
  height:auto;
  margin: 55px;
  margin-bottom: -40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.dashboard .table{
    width: 100%;
    text-align: left;
}

sup {
  vertical-align: super;
  font-size: small;
  font-size: 0.5em;
}

.add-user {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -300px 0 0 -150px;
  width:400px;
  height:500px;
  border-radius: 10px;
  padding: 25px;
  padding-top: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.add-user .add-user-btn {
    margin-top: 75px;
}

.add-user .add-user-header{
    color: #151;
    margin-bottom: 50px;
    letter-spacing: -2px;
    text-shadow: 0 0 10px rgba(255,255,255,0.9);
    font-family: 'Lobster Two';
}

.add-user .add-user-prompt-1{
  color: grey;
  font-size: 10px;
  text-align: left;
}

.add-user .add-user-prompt-2{
  color: grey;
  font-size: 10px;
  text-align: left;
  margin-bottom: 100px;
}

.login {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -300px 0 0 -150px;
  width:300px;
  height:500px;
  border-radius: 10px;
  padding: 25px;
  padding-top: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.homepage {
    overflow: scroll;
    padding-bottom: 100px;
}

.homepage .table-header{
    color: 151;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-top:-5px;
    font-size: 20px;
}

.homepage .table{
    color: 151;
}

.homepage a, .index a {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing:1px;
  text-decoration: none;
}

.homepage footer, .index footer {
  position: absolute;
  bottom: 0%;
  padding-left:10px;
  left:0%;
  width: 100%;
  background:white;
  border-radius:5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.homepage footer a, .index footer a {
    color:#151;
    font-size:10px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.homepage header, .index header{
  position: absolute;
  top: 0%;
  margin: 5px;
}

.index #login-header{
  color: #151;
  /* text-shadow: 0 0 10px rgba(0,0,0,0.3); */
  text-align:left;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
  letter-spacing: -2px;
  text-shadow: 0 0 10px rgba(255,255,255,0.9);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.index .login #login-forgot-password{
  color: grey;
  font-size: 10px;
  text-shadow: 0 0 10px rgba(255,255,255,0.9);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.index .login #login-no-account-1{
  color: grey;
  font-size: 10px;
  text-shadow: 0 0 10px rgba(255,255,255,0.9);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.index .login #login-no-account-2{
  color: grey;
  font-size: 10px;
  color: blue;
  text-shadow: 0 0 10px rgba(255,255,255,0.9);
  font-family: 'Atkinson Hyperlegible', sans-serif;

}

.index .login #login-prompt-1{
  color: grey;
  font-size: 10px;
  position: absolute;
  text-align: left;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.index .login #login-prompt-2{
  color: grey;
  font-size: 10px;
  text-align: left;
  position: absolute;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.index .login #login-form{
  margin-top:70px;
}

#logo {
  font-family: 'Lobster';
  font-size: 2em;
}

#logout{
  right: 0%;
}

input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  background: rgba(255,0,0,0.1);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

hr{
  outline: 0;
  height: 1px;
  border: none;
  margin-top:30px;
  margin-bottom: 40px;
  background: #c0c0c0;
}

.homepage hr{
    outline: 0;
    height: 1px;
    border: none;
    background: #c0c0c0;
    margin-top:10px;
    margin-bottom:0px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  width: 280px;
}

.ProductClass {
  display: none;
}

/* Styling For Sales Entry Page */
.sales_entry {
  margin: 0;
  padding: 0;
}
.sales_entry .wrapper {
  width: max-content;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}
.sales_entry select {
  margin-right: 1rem;
}
.sales_entry input {
  width: min-content;
  margin: 0;
  padding: 5px;
  color: #000000;
  text-shadow: none;
}
.sales_entry .reactiveText {
  cursor: pointer;
  color: rgb(72, 61, 139);
}
.sales_entry #productsField {
  margin-top: 1rem;
  max-height: 40vh;
  overflow-y: auto;
}
.sales_entry select {
  margin-bottom: 10px;
  padding: 3px;
  background: rgba(255,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  outline: none;
  font-size: 13px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
.sales_entry form button {
  margin-top: 2rem;
}
.sales_entry h1 {
  font-family: 'Lobster Two';
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}
.sales_entry header a {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing:1px;
  text-decoration: none;
  margin-left: 5px;
}
